@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media print {
  @page { margin: 1cm; }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background: none !important;
  }
}

/* Custom Responsive Utilities */
.desktop-only, .desktop-flex {
  display: none !important;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }
  .desktop-flex {
    display: flex !important;
  }
}

.mobile-only {
  display: block !important;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
